.ficTroupe {
  font-family: 'La Belle Aurore', cursive;
  font-size: 50px;
  margin-top: 6px;
  float: right;
}

.menu {
  background: transparent;
  font-family: 'Corinthia', cursive;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 0;
  color: #211534;
}

.menuItems {
  color: #211534;
}

.loggedOut {
  font-family: 'Corinthia', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #211534;
}

.ant-menu-item {
  font-family: 'Corinthia', cursive;
  font-size: 30px;
}

.title {
  font-family: 'Corinthia', cursive;
  font-size: 60px;
  margin: 0;
  text-align: center;
  color: #211534;
}

h2 {
  margin: 0;
  font-family: 'Handlee', cursive;
}

#loading {
  font-family: 'Corinthia', cursive;
  font-size: 60px;
  font-style: italic;
  text-align: center;
} 

.handlee, Form label, .ant-modal span {
  font-family: 'Handlee', cursive;
  color: #211534;
}

Form label {
  font-weight: bold;
}

.handleeButton, .login-form-button, .ant-btn-primary {
  font-family: 'Handlee', cursive;
  font-size: 16px;
  background-color: #FFB4A2;
}

.ant-modal .ant-modal-header{
  background: transparent;
}

span .ant-upload {
  background-color: rgb(255, 205, 178, 0.7);
}

.ant-modal .ant-modal-content {
  background: url('../images/cardBackground.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.characterInformation  {
  font-family: 'Handlee', cursive;
}

#middleAlign {
  justify-content: space-around;
  margin-top: 20px;
}

Footer {
  font-family: 'La Belle Aurore', cursive;
}

@media screen and (min-width: 374px) and (max-width: 765px) {
  .ant-layout .ant-layout-header {
    padding: 10px 5px 10px 5px;
    height: 80px;
  }

  .ficTroupe {
    font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .ant-layout .ant-layout-header {
    height: 100px;
  }

  img#quill {
    width: 20px;
  }

  .ficTroupe {
    font-size: 40px;
  }

  h1.ficTroupe {
    float: none;
    margin-top: 10px;
    margin-bottom: 0;
  }  

  .menu {
    margin-top: -30px;
    justify-content: center;
  }
}
